@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&amp;display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.6944vw;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  font-family: "Satoshi", sans-serif;
}

p {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: toRen(116);
  letter-spacing: 0em;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: toRem(60);
  letter-spacing: 0em;
}

h4 {
  color: #202020;
  font-family: "Fredoka", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
}

.subtitle--1 {
  font-family: inherit;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0em;
}

.paragraph--1 {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: toRem(20);
  letter-spacing: 0em;
}

.paragraph--2 {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0em;
}

.paragraph--3 {
  color: rgba(32, 32, 32, 0.7);
  font-family: inherit;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  /* 133.333% */
}

.subtitle--2 {
  font-family: inherit;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0em;
}

.paragraph--5 {
  color: #202020;
  font-family: inherit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

.subtitle--3 {
  color: #202020;
  font-family: inherit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 30;
  background-color: white;
  top: 0;
  left: 0;
  padding: 1.6rem 6.5rem;
  width: 100vw;
  justify-content: space-between;
}
.nav .logo {
  width: 9.4rem;
  height: 4.8rem;
}
.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-item .nav-link {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin-right: 1.2rem;
}
.nav-item .nav-link li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item .nav-link li .drop-down {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
}
.nav .nav-btn {
  background-color: #FF0000;
  padding: 1.6rem 4.3rem;
  color: #FFFFFF;
  border-radius: 8px;
}

.about-menu {
  position: absolute;
  display: flex;
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem;
  width: 20rem;
  flex-direction: column;
  bottom: -16rem;
  opacity: 0;
  visibility: hidden;
  z-index: 25;
  transition: opacity 0.2s ease-in;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.about-menu-item li {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 0.5;
  padding: 1rem;
}
.about-menu-item li:hover {
  background-color: #E9E9E9;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0.3rem;
}
.about-menu-item li p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
}

.opacity1 {
  opacity: 1;
  visibility: visible;
}

.footer {
  display: flex;
  padding: 6.4rem 9.6rem;
  justify-content: space-between;
}
.footer .col-1 .footer-logo {
  width: 9.4rem;
  height: 4.8rem;
}
.footer .col-1 ul .footer-item {
  margin-top: 2.4rem;
}
.footer .col-1 ul .social-item {
  margin-top: 1.6rem;
  display: flex;
  gap: 2rem;
}
.footer .col-2 .footer-header {
  margin-bottom: 2.3rem;
}
.footer .col-2 .col-2-item {
  display: flex;
  flex-direction: column;
  gap: 0.8;
}
.footer .col-2 .col-2-link {
  padding: 1rem 1rem 1rem 0;
}
.footer .col-3 .footer-header {
  margin-bottom: 2.3rem;
}
.footer .col-3 li {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.footer .col-3 li .icon svg {
  width: 2rem;
  height: 2rem;
}

.login-back-drop {
  position: fixed;
  width: 100vw;
  height: 1000vh;
  visibility: hidden;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.login {
  position: fixed;
  visibility: hidden;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4.8rem;
  left: 50%;
  border-radius: 2.4rem;
  background: #FFF;
  transform: translate(-50%, -50%);
  z-index: 35;
}
.login-header .welcome {
  color: #202020;
  font-family: "Fredoka", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.6rem;
  line-height: 4.4rem;
}
.login-header .login-p {
  color: rgba(32, 32, 32, 0.7);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}
.login .middle {
  width: 100%;
  margin-top: 4rem;
}
.login .middle .login-option {
  margin-bottom: 2.4rem;
  display: flex;
  width: 54rem;
  align-items: center;
  text-align: center;
  border-radius: 2.4rem;
  padding: 1.2rem 2.4rem;
  border: 1px solid #E2E2E2;
  background: #FFF;
}
.login .middle .login-option p {
  color: #202020;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
}
.login .middle .guest {
  text-align: center;
  color: #202020;
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}
.login .middle .check-out-btn {
  width: 100%;
  display: flex;
  padding: 1.2rem 3.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #F00;
  background: #F00;
}
.login .middle .check-out-btn p {
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
}
.login .paragraph {
  color: #202020;
  text-align: center;
  margin-top: 4.8rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  width: 38.1rem;
  line-height: 1.6rem;
}

.mycart .mycart-body {
  padding-top: 8.5rem;
}
.mycart .mycart-body .mycart-header {
  display: flex;
  height: 16.2rem;
  flex-direction: column;
  justify-content: center;
  background: #300;
  gap: 5rem;
  color: white;
  padding: 3.2rem 0;
  align-items: center;
}
.mycart .mycart-body .mycart-header .top {
  display: flex;
  padding: 0.8rem 1.6rem;
  align-items: center;
  justify-content: center;
  width: 26.8rem;
  gap: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #E9E9E9;
  background: #FFF;
}
.mycart .mycart-body .mycart-header .top h3 {
  color: #202020;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  /* 133.333% */
}
.mycart .mycart-body .mycart-header .bottom {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.mycart .mycart-body .mycart-header .bottom .step {
  display: flex;
  padding: 0.8rem 2.4rem;
  align-items: center;
  border-radius: 4.8rem;
  border: 1px solid #E2E2E2;
  background: #FFF;
}
.mycart .mycart-body .mycart-header .bottom .step p {
  color: #202020;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
}
.mycart .mycart-body .mycart-header .bottom .arrow-icon {
  width: 8rem;
}
.mycart .mycart-body .mycart-header .bottom .active {
  border: 1px solid #A00;
  background: #A00;
}
.mycart .mycart-body .mycart-header .bottom .active p {
  color: #FFF;
}
.mycart .mycart-body .content-container {
  width: 100%;
  padding: 8rem 9.6rem;
  display: flex;
  flex-direction: column;
}
.mycart .mycart-body .content-container .table-wrapper {
  padding: 0 5.4rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item {
  border-collapse: collapse;
  width: 100%;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item thead tr th p {
  text-align: center;
  color: #202020;
  font-family: "Fredoka", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  margin-bottom: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td {
  padding-bottom: 3rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .product {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .product .product-img {
  width: 14.1rem;
  height: 10rem;
  border-radius: 1.6rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .product .product-content p {
  width: 28.2rem;
  color: #202020;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 3rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .product .product-content .price {
  color: #202020;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .quantity {
  display: flex;
  width: 10.9rem;
  padding: 1.3rem 0.8rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  border: 1px solid #E2E2E2;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .quantity .increase,
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .quantity .decrease {
  display: flex;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .quantity span {
  color: #202020;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  /* 136.364% */
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .total {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4.6rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .total .amount {
  color: #202020;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}
.mycart .mycart-body .content-container .table-wrapper .mycart-item tbody tr td .total .close-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.mycart .mycart-body .content-container .total {
  width: 38rem;
  align-self: flex-end;
}
.mycart .mycart-body .content-container .total .top {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.mycart .mycart-body .content-container .total .top p {
  color: #202020;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}
.mycart .mycart-body .content-container .total .top .amount {
  color: #202020;
  text-align: right;
  font-family: Satoshi;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}
.mycart .mycart-body .content-container .total .vat {
  color: #202020;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6rem;
}
.mycart .mycart-body .content-container .checkout {
  align-self: flex-end;
  padding: 1.2rem 3.2rem;
  align-items: center;
  border-radius: 0.8rem;
  border: 1px solid #F00;
  background: #F00;
  margin-top: 3.9rem;
}
.mycart .mycart-body .content-container .checkout p {
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
}
.mycart .mycart-body .content-container .tantalize-section {
  margin-top: 6.4rem;
}
.mycart .mycart-body .content-container .tantalize-section .section-header {
  color: #202020;
  font-family: "Fredoka", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 4rem;
  line-height: 5.4rem;
  /* 112.5% */
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32.4rem, 1fr));
  row-gap: 4rem;
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #E2E2E2;
  border-radius: 0.8rem 0.8rem 0px 0px;
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-image {
  width: 32.4rem;
  height: 23rem;
  border-radius: 0.8rem 0.8rem 0px 0px;
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom {
  padding: 1.2rem;
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom p {
  width: 30rem;
  height: 6rem;
  overflow: hidden;
  color: #202020;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  /* 136.364% */
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom .price {
  color: rgba(32, 32, 32, 0.7);
  font-size: 1.8rem;
  font-style: normal;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.2rem 0;
  font-weight: 500;
  line-height: 2.4rem;
  /* 133.333% */
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom .last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom .last .quantity {
  display: flex;
  width: 10.9rem;
  padding: 1.3rem 0.8rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  border: 1px solid #E2E2E2;
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom .last .quantity .increase,
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom .last .quantity .decrease {
  display: flex;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom .last .quantity span {
  color: #202020;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  /* 136.364% */
}
.mycart .mycart-body .content-container .tantalize-section .order-section-grid .grid-item-bottom .last .quantity .add-to-card {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 2.4rem;
  height: 2.4rem;
}
.mycart .mycart-body .content-container .tantalize-section .see-more-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.mycart .mycart-body .content-container .tantalize-section .see-more-btn .see-more {
  display: flex;
  width: 26.1rem;
  padding: 1.2rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 0.8rem;
  border: 1px solid #FFE6E6;
  background: #FFE6E6;
}
.mycart .mycart-body .content-container .tantalize-section .see-more-btn .see-more p {
  color: #300;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
}

.visible {
  visibility: visible;
}/*# sourceMappingURL=cart.css.map */