@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&amp;display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.6944vw;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  font-family: "Satoshi", sans-serif;
}

p {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: toRen(116);
  letter-spacing: 0em;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: toRem(60);
  letter-spacing: 0em;
}

h4 {
  color: #202020;
  font-family: "Fredoka", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
}

.subtitle--1 {
  font-family: inherit;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0em;
}

.paragraph--1 {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: toRem(20);
  letter-spacing: 0em;
}

.paragraph--2 {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0em;
}

.paragraph--3 {
  color: rgba(32, 32, 32, 0.7);
  font-family: inherit;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  /* 133.333% */
}

.subtitle--2 {
  font-family: inherit;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0em;
}

.paragraph--5 {
  color: #202020;
  font-family: inherit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

.subtitle--3 {
  color: #202020;
  font-family: inherit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 30;
  background-color: white;
  top: 0;
  left: 0;
  padding: 1.6rem 6.5rem;
  width: 100vw;
  justify-content: space-between;
}
.nav .logo {
  width: 9.4rem;
  height: 4.8rem;
}
.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-item .nav-link {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin-right: 1.2rem;
}
.nav-item .nav-link li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item .nav-link li .drop-down {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
}
.nav .nav-btn {
  background-color: #FF0000;
  padding: 1.6rem 4.3rem;
  color: #FFFFFF;
  border-radius: 8px;
}

.about-menu {
  position: absolute;
  display: flex;
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem;
  width: 20rem;
  flex-direction: column;
  bottom: -16rem;
  opacity: 0;
  visibility: hidden;
  z-index: 25;
  transition: opacity 0.2s ease-in;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.about-menu-item li {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 0.5;
  padding: 1rem;
}
.about-menu-item li:hover {
  background-color: #E9E9E9;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0.3rem;
}
.about-menu-item li p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
}

.opacity1 {
  opacity: 1;
  visibility: visible;
}

.footer {
  display: flex;
  padding: 6.4rem 9.6rem;
  justify-content: space-between;
}
.footer .col-1 .footer-logo {
  width: 9.4rem;
  height: 4.8rem;
}
.footer .col-1 ul .footer-item {
  margin-top: 2.4rem;
}
.footer .col-1 ul .social-item {
  margin-top: 1.6rem;
  display: flex;
  gap: 2rem;
}
.footer .col-2 .footer-header {
  margin-bottom: 2.3rem;
}
.footer .col-2 .col-2-item {
  display: flex;
  flex-direction: column;
  gap: 0.8;
}
.footer .col-2 .col-2-link {
  padding: 1rem 1rem 1rem 0;
}
.footer .col-3 .footer-header {
  margin-bottom: 2.3rem;
}
.footer .col-3 li {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.footer .col-3 li .icon svg {
  width: 2rem;
  height: 2rem;
}

.login-back-drop {
  position: fixed;
  width: 100vw;
  height: 1000vh;
  visibility: hidden;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.login {
  position: fixed;
  visibility: hidden;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4.8rem;
  left: 50%;
  border-radius: 2.4rem;
  background: #FFF;
  transform: translate(-50%, -50%);
  z-index: 35;
}
.login-header .welcome {
  color: #202020;
  font-family: "Fredoka", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.6rem;
  line-height: 4.4rem;
}
.login-header .login-p {
  color: rgba(32, 32, 32, 0.7);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}
.login .middle {
  width: 100%;
  margin-top: 4rem;
}
.login .middle .login-option {
  margin-bottom: 2.4rem;
  display: flex;
  width: 54rem;
  align-items: center;
  text-align: center;
  border-radius: 2.4rem;
  padding: 1.2rem 2.4rem;
  border: 1px solid #E2E2E2;
  background: #FFF;
}
.login .middle .login-option p {
  color: #202020;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
}
.login .middle .guest {
  text-align: center;
  color: #202020;
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}
.login .middle .check-out-btn {
  width: 100%;
  display: flex;
  padding: 1.2rem 3.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #F00;
  background: #F00;
}
.login .middle .check-out-btn p {
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
}
.login .paragraph {
  color: #202020;
  text-align: center;
  margin-top: 4.8rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  width: 38.1rem;
  line-height: 1.6rem;
}

.hero {
  width: 100vw;
  background-image: url("../images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25rem;
  padding-bottom: 4.8rem;
}
.hero .header {
  font-weight: 700;
  width: 68rem;
  text-align: center;
}
.hero .hero-content {
  width: 48.8rem;
  height: 27.6rem;
  margin-top: 6.8rem;
  padding: 4rem 2.4rem;
  border-radius: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.3);
}
.hero .hero-content .bar {
  display: flex;
  align-items: center;
  border-radius: 10rem;
  height: 6.4rem;
  padding: 0.9rem 1.6rem;
  justify-content: space-between;
  background: #E2E2E2;
}
.hero .hero-content .bar .restaurant {
  border-radius: 5.6rem;
  background: #FFF;
}
.hero .hero-content .bar .restaurant,
.hero .hero-content .bar .Tantis-Pot {
  display: flex;
  width: 20.4rem;
  padding: 0.8rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.hero .hero-content-bottom {
  display: flex;
  flex-direction: column;
}
.hero .hero-content-bottom .select,
.hero .hero-content-bottom .hero-option {
  margin-top: 2rem;
  display: flex;
  width: 44rem;
  height: 5rem;
  font-family: inherit;
  padding: 1rem;
  color: #8D8D8D;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  gap: 0.4rem;
}
.hero .hero-content-bottom .select .hero-option,
.hero .hero-content-bottom .hero-option .hero-option {
  color: #8D8D8D;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}

.info {
  padding: 9.6rem;
}
.info-top-header {
  margin-bottom: 4rem;
}
.info-top .carousel {
  margin-bottom: 9.6rem;
}
.info-top .carousel .card {
  margin-right: 3.7rem;
}
.info-top .carousel .card .carousel-image {
  width: 22rem;
  height: 18rem;
  border-radius: 1.6rem;
  margin-bottom: 1.6rem;
}
.info-top .carousel .card .card-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 22rem;
}
.info-top .carousel .card .card-bottom .food-name {
  text-align: center;
  width: 100%;
  height: 4rem;
}
.info-top .carousel .card .card-bottom .price {
  text-align: center;
}
.info-top .carousel .swiper-pagination {
  border: 1px solid red;
  position: fixed;
  width: 100%;
  display: block;
  height: 5rem;
}
.info-bottom-header {
  margin-bottom: 4rem;
}
.info-bottom-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.info-bottom-content .instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.info-bottom-content .instructions-icon {
  width: 15rem;
  height: 15rem;
}
.info-bottom-content .instructions p {
  width: 22rem;
  text-align: center;
  font-size: 2rem;
}

.ad {
  background-image: url("../images/Background2.png");
  width: 100vw;
  padding: 22rem 0 17rem 9.6rem;
  background-size: cover;
}
.ad-content {
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}
.ad-content-header {
  margin-bottom: 1.6rem;
}
.ad-content-p {
  margin-bottom: 5rem;
}
.ad-content .ad-btn-container {
  display: flex;
  gap: 1.3rem;
}
.ad-content .ad-btn-container .ad-btn {
  background-color: #FFF;
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
  border: 1px solid #E2E2E2;
}/*# sourceMappingURL=index.css.map */