@import "../scss/mixins";

.footer {
    display: flex;
    padding: 6.4rem 9.6rem;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
        padding: convertToRem(64) 1.5rem;
    }

    .col-1 {
        .footer-logo {
            width: 9.4rem;
            height: 4.8rem;
        }

        ul {
            .footer-item {
                margin-top: 2.4rem;

                @include mobile {
                    margin-top: .3rem;
                }

                .copy-right{

                    @include mobile{
                        margin-top: .4rem;
                    }
                 
                }
            }

            .social-item {
                margin-top: 1.6rem;
                display: flex;
                gap: 2rem;

                @include mobile {
                    margin-top: .3rem;
                }
            }
        }
    }

    .col-2 {
        .footer-header {
            margin-bottom: 2.3rem;

            @include mobile {
                margin-bottom: .4rem;
                margin-top: 2.5rem;
            }
        }

        .col-2-item {
            display: flex;
            flex-direction: column;
            gap: .8;
        }

        .col-2-link {
            padding: 1rem 1rem 1rem 0;

            @include mobile {
                padding: .2rem .7rem .2rem 0;
            }

            li{
                p{
                    @include mobile{
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                    }
                }
            }
        }
    }

    .col-3 {
        @include mobile {
            margin-top: 2rem;
        }

        .footer-header {
            margin-bottom: 2.3rem;

            @include mobile {
                margin-bottom: convertToRem(23);
            }
        }

        li {
            margin-bottom: 1.6rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;

            @include mobile {
                margin-bottom: .3rem;
                gap: .5rem;
            }

            .icon {
                svg {
                    width: 2rem;
                    height: 2rem;

                    @include mobile {
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }
            }
        }
    }
}