@import "./mixins";
.nav{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 30;
    background-color: white;
    top: 0;
    left: 0;
    padding: torem(16) torem(65);
    width: 100vw;
    justify-content: space-between;

    .logo{
        width: torem(94);
        height: 4.8rem;
    }
    &-item{
        display: flex;
        align-items: center;

        .nav-link{
            padding: 1rem;
            margin-right: torem(12);
        }
    }

    .nav-btn{
        background-color: $primary-color;
        padding: 1.6rem 4.3rem;
        color: $white;
        border-radius: 8px;
    }
}