@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&amp;display=swap");
@import "./mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0.6944vw;

    @include mobile{
        font-size: 2.66vw;
    }
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: 'Satoshi', sans-serif;
}

p {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 9.6rem;
    font-weight: 400;
    line-height: torem(116);
    letter-spacing: 0em;

    @include mobile{
        font-size: convertToRem(96);
        line-height: convertToRem(116);
    }
}


h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: torem(56);
    font-weight: 600;
    line-height: toRem(60);
    letter-spacing: 0em;

    @include mobile{
        font-size: 3rem;
    }
}

h4 {
    color:  #202020;
    font-family: 'Fredoka', sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.6rem;
}

.subtitle--1 {
    font-family: inherit;
    font-size: torem(22);
    font-weight: 500;
    line-height: torem(30);
    letter-spacing: 0em;

    @include mobile{
        font-size: 1.5rem;
    }
}

.paragraph--1 {
    font-family: inherit;
    font-size: torem(14);
    font-weight: 700;
    line-height: toRem(20);
    letter-spacing: 0em;
}

.paragraph--2 {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 0em;
}

.paragraph--3 {
    color: rgba(32, 32, 32, 0.70);
    font-family: inherit;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
}

.subtitle--2 {
    font-family: inherit;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0em;

    @include mobile{
        font-size: 2rem;
        line-height: 3rem;
    }
}

.paragraph--5 {
    color: #202020;
    font-family: inherit;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}

.subtitle--3 {
    color: #202020;
    font-family: inherit;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.4rem;

}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
}