@import "../scss/main";

.trackorder-container {
    padding-top: 8rem;

    .trackorder {
        .trackorder-header {
            display: flex;
            height: 16.2rem;
            flex-direction: column;
            justify-content: center;
            background: #300;
            gap: 5rem;
            color: white;
            padding: 3.2rem 0;
            align-items: center;


            @include mobile {
                padding: 2rem .8rem;
            }

            .top {
                display: flex;
                padding: .8rem 1.6rem;
                align-items: center;
                justify-content: center;
                width: 26.8rem;
                gap: .8rem;
                border-radius: .8rem;
                border: 1px solid #E9E9E9;
                background: #FFF;

                h3 {
                    color: #202020;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.4rem;
                    /* 133.333% */
                }
            }

            .bottom {
                display: flex;
                gap: 2rem;
                align-items: center;

                @include mobile {
                    overflow-x: scroll;
                    width: 100%;
                }

                .step {
                    display: flex;
                    padding: .8rem 2.4rem;
                    align-items: center;
                    border-radius: 4.8rem;
                    border: 1px solid #E2E2E2;
                    background: #FFF;

                    p {
                        color: #202020;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.4rem;

                        @include mobile {
                            text-wrap: nowrap;
                        }
                    }
                }

                .arrow-icon {
                    width: 8rem;
                }

                .active {
                    border: 1px solid #A00;
                    background: #A00;

                    p {
                        color: #FFF;
                    }
                }
            }
        }

        .trackorder-content {
            display: flex;
            justify-content: space-between;
            padding: 8rem 9.6rem;

            @include mobile {
                flex-direction: column;
                gap: 5rem;
                padding: 2rem;
            }

            .content-left {

                .top-card {
                    margin-bottom: 4.0rem;
                    padding: 2.4rem 31.6rem 2.4rem 2.4rem;
                    align-items: center;
                    border-radius: 16px;
                    border: 1px solid #E9E9E9;
                    background: #FFF;
                    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

                    @include mobile {
                        padding: 2rem 0rem 2rem 2rem;
                    }

                    .code {
                        color: #202020;
                        margin-bottom: .8rem;
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.4rem;
                    }

                    .time-item {
                        color: #202020;
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.4rem;
                    }
                }

                .bottom-card {
                    padding: 4rem;
                    width: 58.8rem;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1.6rem;
                    border: 1px solid #E9E9E9;
                    background: #FFF;
                    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

                    @include mobile {
                        width: 100%;
                        padding: 2rem;
                    }

                    .card-subtitle {
                        color: #202020;
                        margin-bottom: 2rem;
                        font-size: 2.2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 3rem;

                        @include mobile{
                            font-size: 2rem;
                            margin-bottom: .8rem;
                        }
                    }

                    .card-content-header {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1.6rem;

                        @include mobile{
                            margin-bottom: 1.2rem;
                        }
                    }

                    .card-content {
                        display: flex;
                        flex-direction: column;

                        .location {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p {
                                @include mobile {
                                    font-size: 1.3rem;
                                    line-height: 2rem;
                                }
                            }
                        }

                        .address {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 3.2rem;

                            .senders--address,
                            .recievers--address {
                                color: #202020;
                                width: 23.3rem;
                                font-size: 1.8rem;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 2.4rem;

                                @include mobile{
                                    font-size: 1.4rem;
                                    line-height: 2rem;
                                }
                            }

                            .recievers--address {
                                text-align: end;
                            }
                        }
                    }

                    .summary {
                        color: #202020;
                        font-size: 2.2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 3rem;
                        margin-bottom: 1.6rem;

                        @include mobile{
                            font-size: 2rem;
                            line-height: 2rem;
                            margin-bottom: 1rem;
                        }
                    }

                    .card-content-bottom {
                        display: flex;
                        gap: 1.2rem;
                        flex-direction: column;

                        @include mobile{
                            gap: .8rem;
                        }

                        .card-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p {
                                color: #202020;
                                font-size: 1.8rem;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 2.4rem;

                                @include mobile{
                                    font-size: 1.4rem;
                                    line-height: 2rem;
                                }
                            }

                            .price {
                                color: #202020;
                                text-align: right;
                                font-size: 1.8rem;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 2.4rem;
                                @include mobile{
                                    font-size: 1.4rem;
                                    line-height: 2rem;
                                }
                            }

                            .total {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            .content-right {
                border-radius: 1.6rem;
                padding: 4rem 5.6rem;
                width: 58.2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 51.4rem;
                flex-shrink: 0;
                border: 1px solid #E9E9E9;
                background: #FFF;
                box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

                @include mobile {
                    width: 100%;
                    height: fit-content;
                    padding: 4rem 2rem;
                }

                .right-subtitle {
                    color: #202020;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 2.4rem;

                    @include mobile {
                        font-size: 1.4rem;
                        line-height: 1.8rem;

                    }
                }

                .time {
                    color: #202020;
                    font-size: 2.2rem;
                    font-style: normal;
                    font-weight: 900;
                    margin-bottom: 3.2rem;
                    line-height: 3rem;

                    @include mobile {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        margin-bottom: 2rem;
                    }
                }

                .right-content {
                    display: flex;
                    align-self: flex-start;

                    .content-col-1 {
                        margin-top: 5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 6.8rem;

                        @include mobile {
                            margin-top: 4.5rem;
                            gap: 4.5rem;
                            width: 30%;
                            height: fit-content;
                        }

                        p {
                            font-size: 1.4rem;
                            flex-wrap: nowrap;
                        }
                    }

                    .content-col-2 {
                        margin-right: 2.6rem;
                        margin-left: 3.2rem;
                        height: 32rem;

                        @include mobile {
                            height: 25rem;
                        }
                    }

                    .content-col-3 {
                        .status {
                            margin-bottom: 2rem;

                            @include mobile {
                                margin-bottom: 2.5rem;
                            }
                        }

                        .col-3-items {
                            display: flex;
                            flex-direction: column;
                            gap: 3.2rem;

                            @include mobile {
                                gap: 1.3rem;
                            }

                            .col-3-item {
                                .item-header {
                                    color: #202020;
                                    margin-bottom: .8rem;
                                    font-size: 1.8rem;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 2.4rem;

                                    @include mobile {
                                        font-size: 1.4rem;
                                        margin-bottom: 0rem;
                                        line-height: 1.8rem;
                                    }
                                }

                                .item-p {
                                    color: rgba(32, 32, 32, 0.70);
                                    font-size: 1.4rem;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 2.0rem;

                                    @include mobile {
                                        font-size: 1.2rem;
                                        line-height: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}