@import "../scss/main";

.career-hero {
    width: 100%;
    margin-top: 8rem;
    background-repeat: no-repeat;
    background-size: contain;
    height: 44rem;
    background-image: url("../images/background4.png");
}

.career-content {
    padding: 8rem 9.2rem;

    &-header {
        color: #202020;
        font-family: 'Fredoka', sans-serif;
        font-size: 4.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 5.4rem;
    }

    &-p {
        color: rgba(32, 32, 32, 0.70);
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        margin-top: 1.6rem;
        line-height: 3.0rem;
    }

    &-wrapper {
        margin-top: 4.8rem;
        display: flex;
        justify-content: space-between;

        .career-header {
            color: #202020;
            font-family: 'Fredoka', sans-serif;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 3.6rem;
            margin-bottom: 1.6rem;
        }

        .career-paragraphs {
            width: 50.8rem;

            p {
                color: rgba(32, 32, 32, 0.70);
                text-align: justify;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.4rem;
                margin-bottom: 1.6rem;
            }
        }


        &-right {
            display: flex;
            width: 70rem;
            height: fit-content;
            padding: 3.2rem 4.8rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.4rem;
            border: 1px solid red;
            border-radius: 8px;
            border: 1px solid #E9E9E9;
            background: #FFF;

            .form-header {
                color:  #202020;
                font-family: 'Fredoka' sans-serif;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.8rem;
            }

            .form-p {
                width: 59.5rem;
                color: rgba(32, 32, 32, 0.70);
                font-family: Satoshi;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.4rem;
            }

            .form-group {
                display: flex;
                width: 100%;
                flex-direction: column;

                .input-wrapper {
                    border-radius: 8px;
                    border: 1px solid #E2E2E2;
                    background: #FFF;
                    width: 100%;
                    padding: .8rem 1.6rem;
                    align-items: center;
                    height: 4.2rem;
                    display: flex;

                    .form-input {
                        width: 100%;
                        border: none;
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.4rem;

                        &::placeholder {
                            color: #8D8D8D;
                        }

                        &:focus {
                            outline: none;
                        }

                    }

                    #fileInput {
                        display: none;
                    }

                    .custom-file-input {
                        display: flex;
                        padding: .8rem 1.6rem;
                        align-items: center;
                        border-radius: .8rem;
                        border: 1px solid #E2E2E2;
                        background: #FFF;
                        color: #202020;
                        font-size: 1.2rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.2rem;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    #fileName {
                        color: #202020;
                        margin-left: 1.6rem;
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.4rem;
                    }
                }

                .form-input--textarea {
                    min-height: 10.4rem;
                    border: 1px solid #E2E2E2;
                    padding: 1rem 0 0 1rem;
                    resize: none;
                    width: 100%;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.4rem;

                    &::placeholder {
                        color: #8D8D8D;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .form-submit {
                align-self: center;
                color: #fff;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 1.2rem 1.6rem;
                border-radius: 8px;
                border: 1px solid #F00;
                background: #F00;
                box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
            }
        }
    }

}