@import "../scss/main";

.management-hero {
    width: 100%;
    margin-top: 8rem;
    background-repeat: no-repeat;
    background-size: contain;
    height: 44rem;
    background-image: url("../images/background4.png");

    @include mobile{
        height: convertToRem(300);
    }
}

.management-content {
    padding: 8rem 9.7rem;
    @include mobile{
        // overflow-x: hidden;
        padding: 4rem 2rem;
    }

    .management-header {
        color: #202020;
        font-family: 'Fredoka', sans-serif;
        font-size: 4.8rem;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 1.6rem;
        line-height: 5.4rem;

        @include mobile{
            font-size: 2.3rem;
            margin-bottom: 1rem;
            line-height: 2rem;
        }
    }

    p {
        color: rgba(32, 32, 32, 0.70);
        font-size: 2.2rem;
        width: 100rem;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 6.4rem;
        line-height: 3rem;

        @include mobile{
            margin-bottom: 3rem;
            font-size: 1.6rem;
            line-height: 1.8rem;
            width: 100%;
        }
    }

    .name {
        color: #202020;
        font-size: 2.2rem;
        font-style: normal;
        text-align: center;
        font-weight: 500;
        line-height: 3rem;
        width: 100%;
        margin-bottom: 0;
    }

    .post {
        color: rgba(32, 32, 32, 0.70);
        font-size: 1.8rem;
        font-style: normal;
        width: fit-content;
        text-align: center;
        font-weight: 500;
        width: 100%;
        line-height: 2.4rem;
        margin-bottom: 0;
    }

    .management-grid {
        display: grid;
        width: 100%;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(37.4rem, 1fr));
        .grid-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 37.4rem;
         
            @include mobile{
                width: 80%;
            }
            img {
                width: 37.4rem;
                height: 40rem;
                border-radius: 100%;
                flex-shrink: 0;

                @include mobile{
                    width: 24rem;
                    height: 25rem;
                }
            }
            
            .empty-image {
                border-radius: 12.8rem;
                background: #757474;
                width: 37.4rem;
                height: 40rem;
                background: #757474;
                @include mobile{
                    width: 24rem;
                    border-radius: 8rem;
                    height: 25rem;
                }
            }
        }
    }
}