@import "../scss/main";

.franchise-hero {
    width: 100%;
    margin-top: 8rem;
    background-repeat: no-repeat;
    background-size: contain;
    height: 44rem;
    background-image: url("../images/background4.png");
    @include mobile{
        height: convertToRem(340);
        margin-top: 6.8rem;
    }
}

.franchise-content {
    padding: 8rem 9.2rem;

    @include mobile{
        padding: 2rem;
    }

    .franchise-h {
        color: #202020;
        font-size: 4.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 5.4rem;
        margin-bottom: 1.6rem;

        @include mobile{
            font-size: 2.5rem;
            margin-bottom: 0;
        }
    }

    .franchise-p {
        color: rgba(32, 32, 32, 0.70);
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3rem;
        @include mobile{
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }

    .franchise-wrapper {
        margin-top: 4.8rem;
        display: flex;
        justify-content: space-between;

        @include mobile{
            margin-top: 2.5rem;
            flex-direction: column;
            gap: 3rem;
        }

        &-left {
            display: flex;
            flex-direction: column;

            .content-left-top {
                width: 50.4rem;

                @include mobile{
                    width: 100%;
                }
                &-h {
                    color: #202020;
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 3.6rem;
                    margin-bottom: 1.6rem;
                    @include mobile{
                        font-size: 2rem;
                        line-height: 2rem;
                        margin-bottom: 1.5rem;
                    }
                }

                p {
                    color:  rgba(32, 32, 32, 0.70);
                    text-align: justify;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.4rem;
                    margin-bottom: 1.6rem;
                    @include mobile{
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                    }
                }
                ul{
                    list-style: disc;
                    margin-left: 1.6rem;

                    p{
                        margin-bottom: 0;
                    }
                }
            }
            .content-left-bottom {
                margin-top: 3.2rem;
                width: 50.4rem;
                @include mobile{
                    width: 100%;
                }

                &-h {
                    color: #202020;
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 3.6rem;
                    margin-bottom: 1.6rem;

                    @include mobile{
                        font-size: 2rem;
                        line-height: 2rem;
                        margin-bottom: 1.5rem;
                    }
                }

                p {
                    color:  rgba(32, 32, 32, 0.70);
                    text-align: justify;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.4rem;
                    margin-bottom: 1.6rem;

                    @include mobile{
                        font-size: 1.4rem;
                        margin-bottom: 1rem;
                        line-height: 2rem;
                    }
                }
            }
        }
        &-right {
            display: flex;
            width: 70rem;
            height: fit-content;
            padding: 3.2rem 4.8rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.4rem;
            border-radius: 8px;
            border: 1px solid #E9E9E9;
            background: #FFF;

            @include mobile{
                width: 100%;
                padding: 1.5rem;
            }
    
            .content-header {
                color: #202020;
                font-family: 'Fredoka', sans-serif;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.8rem;
                /* 116.667% */
            }
    
            .content-text {
                width: 59.5rem;
                color: rgba(32, 32, 32, 0.70);
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.4rem;

                @include mobile{
                    width: 100%;
                    line-height: 1.2rem;
                    font-size: 1.2rem;
                }
            }
    
            .form-group {
                display: flex;
                width: 100%;
                flex-direction: column;
    
                .input-wrapper {
                    border-radius: 8px;
                    border: 1px solid #E2E2E2;
                    background: #FFF;
                    width: 100%;
                    padding: .8rem 1.6rem;
                    align-items: center;
                    height: 4rem;
                    display: flex;
    
                    .form-input {
                        width: 100%;
                        border: none;
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.4rem;
    
                        &::placeholder {
                            color: #8D8D8D;
                        }
    
                        &:focus {
                            outline: none;
                        }
                    }
                }
    
                .form-input--textarea {
                    min-height: 10.4rem;
                    border: 1px solid #E2E2E2;
                    padding: 1rem 0 0 1rem;
                    resize: none;
                    width: 100%;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.4rem;
    
                    &::placeholder {
                        color: #8D8D8D;
                    }
                }
            }
    
            .form-submit {
                align-self: center;
                color: #fff;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 1.2rem 1.6rem;
                border-radius: 8px;
                border: 1px solid #F00;
                background: #F00;
                box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
            }
        }
    }

}